body{
    margin: 0px;
}
.container-fluid{
    width: 100%;
}
.image img{
    width: 100%;
    height: 400px;
}

.menu{
    text-align: center;

}
.menu ul{
    list-style: none;

}

.menu ul li{
    display: inline-block;

}

.menu ul li a{
    text-decoration: none;
    padding:10px 15px;
    background-color: #ddd;
    display: block;
}

.content{
    height: 600px;
}

.leftsidebar{
    height: 600px;
    width: 15%;
    background-color: #F38181;
    display: inline-block;
    position: absolute;
    left: 0px;
}

.maincontent{
    height: 600px;
    width: 70%;
    background-color: #FFE2E2;
    display: inline-block;
    position: absolute;
    left: 15%;
}
.rightsidebar{
    height: 600px;
    width: 15%;
    background-color: #364F6B;
    display: inline-block;
    position: absolute;
    right: 0px;
}



.lefttopimg{
    display: inline-block;
    position: absolute;
    left: 0px;
}
.righttopimg{
    display: inline-block;
    position: absolute;
    right: 0px;
}
.bottomleftimg{
    display: inline-block;
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.bottomrightimg{
    display: inline-block;
    position: absolute;
    right: 0px;
    bottom: 0px;
}


.lefttopimg img{
    width: 300px;
    height: 300px;

}
.righttopimg img{
    width: 300px;
    height: 300px;
}

.bottomleftimg img{
    width: 300px;
    height: 300px;
}
.bottomrightimg img{
    width: 300px;
    height: 300px;
}


.footer{
    height: 150px;
    background-color: #DBE2EF;
}
.fleft{
    width: 60%;
    background-color: #61C0BF;
    height: 150px;
    display: inline-block;
    position: absolute;
    left: 0px;
}
.fright{
    width: 40%;
    background-color: #798777;
    height: 150px;
    display: inline-block;
    position: absolute;
    right: 0px;

}
